body::-webkit-scrollbar,
article::-webkit-scrollbar,
.mobileMenuWrap::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb,
article::-webkit-scrollbar-thumb,
.mobileMenuWrap::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}
article::-webkit-scrollbar-corner,
.mobileMenuWrap::-webkit-scrollbar-corner {
  background: transparent;
}

.subGnb::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 컴포넌트 분할 */
button {
  border: 1px solid #777;
  background: inherit;
  font: 500 14px/1 'Hyundai Sans Head Office';
  cursor: pointer;
}
.mainBtn {
  background: transparent;
  border: 1px solid rgb(209 213 219);
  color: #fff;
  width: 240px;
  height: 60px;
  font: 500 20px/1 'Hyundai Sans Head Office';
  transition: all 0.2s;
}
.mainBtn.bbs {
  color: #222;
}
.mainBtn.kr {
  font: 500 20px/1 'Pretendard';
}
a.mainBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBtn:hover {
  background: #fff;
  border-color: transparent;
  color: #000;
}
.mainBtn.bbs:hover {
  color: #fff;
  background: #000;
  border-color: transparent;
}
.btnBasic {
  border: 1px solid #000;
  color: #fff;
  background: #000;
  padding: 0.7% 3%;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnBasic:hover {
  background: #555;
}

/* swiper 색상 변경 */
.swiper-button-prev,
.swiper-button-next {
  display: flex;
  color: #aaa !important;
}
.swiper-pagination-bullet {
  background: #fff !important;
}
/* 다른페이지가 붙을경우 헤딩 변경 */

body {
  position: relative;
  font-family: 'Pretendard';
  background: #000;
  width: 100vw;
  margin: 0px auto;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 65px minmax(calc(100vh - 315px), auto) 250px;
  padding-bottom: 0;
}
body.otherPage header::after {
  opacity: 100%;
}
/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 65px;
  font-weight: 300;
  font-size: 20px;
  color: #bbb;
}
header::after {
  display: block;
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 100%;
}
header.mainHd::after {
  opacity: 60%;
}

header .gnb {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
header .gnb > .navWrap {
  width: 100%;
}
header .gnb > .navWrap:nth-child(1) {
  max-width: 700px;
  grid-column: 1 / 2;
  grid-row: 1/ 2;
}
header .gnb > .navWrap:nth-child(2) {
  grid-column: 2 / -1;
  grid-row: 1/ 2;
}
header .gnb > .navWrap > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header .gnb > .navWrap > ul.mobileView {
  display: none;
}
header .gnb > .navWrap > ul li {
  width: 100%;
  text-align: center;
}
header .gnb > .navWrap > ul li a {
  font-size: 18px;
}
header .gnb > .navWrap > .firstGnb .gnbLogo {
  display: block;
  padding: 0px;
}
header .gnb > .navWrap > .firstGnb .gnbLogo figure {
  position: relative;
  aspect-ratio: 2 / 1;
  max-width: 130px;
}
header .gnb > .navWrap .firstGnb .gnbLogo figure img {
  object-fit: contain;
  position: absolute;
}
header .gnb > .navWrap .secondGnb {
  font-size: 16px;
}

header .gnb > .navWrap .secondGnb > li.sitemapBtn {
  width: fit-content;
}
header .gnb > .navWrap .secondGnb > li.sitemapBtn figure {
  width: 20px;
  aspect-ratio: 2 / 1;
  position: relative;
}
header .gnb > .navWrap .secondGnb > li.sitemapBtn figure img {
  position: absolute;
}
header .smBtn {
  justify-self: center;
  min-width: 30px;
}

header .modal {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: fixed;
  top: -500%;
  opacity: 0%;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
header .modal.on {
  opacity: 95%;
  top: 0;
  z-index: 20;
}
header .modal .closeBtn {
  position: absolute;
  right: 80px;
  top: 40px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

header .modal section {
  width: 80vw;
  height: 90vh;
  margin: 40px auto;
  position: relative;
}
header .modal section .siteItemWrap {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
header .modal section h2 {
  font: 50px/1 'Hyundai Sans Head Office';
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
}
header .modal section h3 {
  font-size: 25px;
  color: #fff;
  position: relative;
}
header .modal section h3:after {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 1px;
  background: #666;
  display: block;
  content: '';
}
header .modal section .siteItemWrap article div {
  padding-left: 20px;
}
header .modal section .siteItemWrap article div a {
  align-self: center;
  transition: all 0.1s;
}
header .modal section .siteItemWrap article div a:hover {
  color: #fff;
}
header .modal section .siteItemWrap article:nth-child(1) div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
}
header .modal section .siteItemWrap article:nth-child(2) > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
}
header .modal section .siteItemWrap article:nth-child(3) div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 50px;
}

header .modal .closeBtn .cl-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  background: #fff;
  transform-origin: center;
  transform: rotate(45deg);
}
header .modal .closeBtn .cl-line:last-child {
  transform: rotate(-45deg);
}

.childrenWrap {
  grid-row: 2 / 3;
  height: 100%;
  display: flex;
}

.main_pagination {
  display: block;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.main_pagination li {
  display: flex;
  justify-content: center;
}
.main_pagination li a {
  width: 13px;
  height: 13px;
  display: block;
  border: 1px solid #bbb;
  border-radius: 50%;
  background: transparent;
  opacity: 50%;
  box-sizing: border-box;
  transition: all 0.2s;
}
.main_pagination li.on a {
  opacity: 80%;
  transform: scale(1);
  border: none;
  background: #fff;
}
.main_pagination li a:hover {
  opacity: 80%;
  transform: scale(1);
  border: none;
  background: #fff;
}
.main_pagination li a::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15px;
  display: block;
  content: '';
  width: 0px;
  height: 1px;
  background: #fff;
}
.main_pagination li a:hover::after {
  width: 10px;
}

/* 모바일 사이드바 */
.mobileSideBar {
  display: none;
}
.mobileSideBar .mobiledDimmedBg {
  display: none;
}

/* main */
/* main - 첫번째 박스 */
main {
  width: 100vw;
}
main.mainPage {
  margin-top: -100px;
}
main.mainPage > section {
  width: 100%;
  height: 100vh;
  position: relative;
}
main.mainPage > section#event1 > article {
  position: absolute;
  top: 200px;
  left: 150px;
  z-index: 5;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  width: calc(100vw - 150px);
}
main.mainPage > section#event1 > article h2 {
  font: 100 40px/1 'Hyundai Sans Head Office';
  margin-bottom: 30px;
}
main.mainPage > section#event1 > article h1 {
  font: 60px/1 'HYUNDAI';
  letter-spacing: 10px;
  margin-bottom: 10px;
  margin-right: -10px;
}
main.mainPage > section#event1 > article .title_item {
  display: flex;
  margin-bottom: 60px;
  position: relative;
}
main.mainPage > section#event1 > article .title_item > h1 > span {
  padding: 0 6px;
}
main.mainPage > section#event1 > article .title_item .suyeon {
  position: absolute;
  left: 300%;
  opacity: 100%;
  color: transparent;
  -webkit-text-stroke: 0px #fff;
  margin-left: 10px;
}
main.mainPage > section#event1 > article .title_item .suyeon.on {
  -webkit-text-stroke: 1px #fff;
  left: 100%;
  transition: cubic-bezier(0.17, 0.67, 0.83, 0.67), 0.5s;
}
main.mainPage > section#event1 figure {
  width: 100%;
  height: 100%;
}
main.mainPage > section#event1 figure video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.progress_bar {
  position: absolute;
  left: 50%;
  bottom: 57px;
  transform: translateX(-50%);
  font: 500 13px/1 'Hyundai Sans Head Office';
  color: #fff;
  display: flex;
  align-items: center;
  gap: 30px;
}
.progress_bar .timeline {
  width: 300px;
  height: 2px;
  background: #aaa;
  position: relative;
}
.progress_bar .timeline div {
  position: absolute;
  left: 0px;
  width: 70%;
  height: 100%;
  background: #fff;
}
.progress_bar span:last-child {
  opacity: 50%;
  font-weight: 100;
}

/* main - 두번째박스 */
main.mainPage section#event2 {
  background: #000;
  color: #fff;
}
main.mainPage section#event2 .swiper-pagination {
  display: none;
}
main.mainPage section#event2 .ev2_tit {
  width: 100vw;
  height: 280px;
  font-family: 'Hyundai Sans Head Office';
  position: absolute;
  left: 200px;
  top: 20%;
  display: grid;
  line-height: normal;
  grid-template-columns: 1fr;
}
main.mainPage section#event2 .ev2_tit h2 {
  font-weight: 500;
  font-size: 160px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
main.mainPage section#event2 .ev2_tit .mainBtn.mobileView {
  display: none;
}
main.mainPage section#event2 .ev2_tit h3 {
  font-weight: 100;
  font-size: 50px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
main.mainPage section#event2 .ev2_models {
  display: grid;
  grid-template-columns: minmax(550px, 1fr) 2fr;
  grid-auto-rows: minmax(auto, 500px);
  position: absolute;
  right: 50px;
  bottom: 100px;
  align-items: center;
}
main.mainPage section#event2 .ev2_models .ev2_slide_wrap {
  width: 100%;
  height: 100%;
  grid-column: 2 / -1;
  align-self: end;
  display: flex;
  overflow: hidden;
}
main.mainPage section#event2 .ev2_models .ev2_slide_wrap figure {
  width: 100%;
  min-height: 200px;
  position: relative;
  aspect-ratio: 8/3;
  top: 50%;
  transform: translateY(-50%);
}
main.mainPage section#event2 .ev2_models .ev2_slide_wrap figure img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0 10%;
  box-sizing: border-box;
}
main.mainPage section#event2 .ev2_bg {
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0px;
  background: linear-gradient(180deg, rgba(104, 104, 104, 0.4) 0%, rgba(112, 112, 112, 0) 100%);
}
main.mainPage section#event2 .ev2_bg a {
  margin-left: 200px;
  margin-top: 40px;
}

/* main - 세번째 박스 */
main.mainPage section#event3 {
  background: url('/images/ev3_bg.png') no-repeat center/cover;
  color: #fff;
}
main.mainPage section#event3 article {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 160px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
main.mainPage section#event3 article h2 {
  font: 100 60px/1 'Hyundai Sans Head Office';
}
main.mainPage section#event3 article h2 span {
  font-weight: 500;
}
main.mainPage section#event3 article h3 {
  font-size: 20px;
  font-weight: 100;
  word-break: keep-all;
}
main.mainPage section#event3 article button {
  margin-top: 20px;
}

/* main - 네번째 박스 */
main.mainPage section#event4 {
  background: #111;
  color: #fff;
}
main.mainPage section#event4 > article {
  width: 80vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 5;
}
main.mainPage section#event4 .ev4_slide {
  width: 100%;
}
main.mainPage section#event4 .ev4_wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 10%;
  column-gap: 70px;
  align-items: center;
}
main.mainPage section#event4 .ev4_wrap > article {
  width: 100%;
}
main.mainPage section#event4 .ev4_wrap:nth-child(1) figure {
  width: 100%;
  padding-top: 100%;
  background: url('/images/ev4_bg.png') center/contain no-repeat;
}
main.mainPage section#event4 .ev4_wrap:nth-child(2) figure {
  width: 100%;
  padding-top: 100%;
  background: url('/images/ev4_bg_02.jpg') center/contain no-repeat;
}
main.mainPage section#event4 .ev4_wrap:nth-child(3) figure {
  width: 100%;
  padding-top: 100%;
  background: url('/images/ev4_bg_03.jpg') center/contain no-repeat;
}
main.mainPage section#event4 .ev4_wrap:nth-child(4) figure {
  width: 100%;
  padding-top: 100%;
  background: url('/images/ev4_bg_02.jpg') center/contain no-repeat;
}
main.mainPage section#event4 .ev4_wrap article h2 {
  font: 100 60px/1 'Hyundai Sans Head Office';
}
main.mainPage section#event4 .ev4_wrap article h2 span {
  display: block;
  font-weight: 500;
  margin-top: 5px;
}
main.mainPage section#event4 .ev4_wrap h3 {
  font-weight: 100;
  font-size: 20px;
  margin: 20px 0 80px 0;
}
main.mainPage section#event4 .bgImg {
  transition: cubic-bezier(0.17, 0.67, 0.83, 0.67), 0.5s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 30%;
  z-index: 1;
}
main.mainPage section#event4 .bgImg::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

/* main - 마지막 박스 */
main.mainPage section#event5 {
  background: #111;
  color: #fff;
}
main.mainPage section#event5 .ev5_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
main.mainPage section#event5 .ev5_wrap h2 {
  font: 500 60px/1 'Pretendard';
  text-align: center;
}

main.mainPage .ev5_wrap form select option {
  color: #000;
  font-size: 20px;
}
main.mainPage section#event5 .bgImg {
  background: url('/images/ev5_bg.png') center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 30%;
}

/* ev5_새로운 퍼블리싱 추가 */
.ev5_wrap {
  width: 90vw;
  padding-top: 110px;
}

/* footer */
footer {
  background: #000;
  padding: 30px 100px;
  box-sizing: border-box;
  color: #999;
  display: grid;
  grid-template-columns: minmax(auto, 284px) 2fr minmax(260px, 1fr);
  grid-auto-rows: minmax(190px, auto);
  column-gap: 100px;
  grid-row: 3 / -1;
  z-index: 5;
}
footer .f_logo {
  position: relative;
  aspect-ratio: 3.422 / 1;
  align-self: center;
}
footer .f_logo img {
  object-fit: contain;
}

footer > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}
footer > ul > li {
  display: flex;
  flex-direction: column;
}
footer > ul > li > ul {
  display: flex;
  flex-wrap: wrap;
}
footer .f_github ul {
  column-gap: 15px;
}
footer .f_github ul li a {
  font-size: 18px;
}
footer .f_github ul li:after {
  content: '|';
  font-size: 12px;
  padding-left: 15px;
}
footer .f_github ul li:last-child:after {
  content: '';
}
footer .f_skill ul {
  column-gap: 14px;
}
footer .f_skill ul li {
  display: flex;
  column-gap: 3px;
}
footer .f_skill ul li:before {
  content: '#';
}

footer h4 {
  font: 100 24px/1 'Hyundai Sans Head Office';
  margin-bottom: 8px;
  display: block;
}
footer .f_info {
  font: 100 18px/1 'Hyundai Sans Head Office';
}

footer .f_copy span {
  font: 100 14px/1 'Hyundai Sans Head Office';
}
footer .f_copy {
  display: block;
}
footer .f_readBtn {
  width: 100%;
  align-self: center;
  text-align: end;
}
footer aside button {
  background: #232323;
  border: none;
  color: #999;
  cursor: pointer;
  padding: 1rem 6rem;
  display: block;
}

iframe {
  width: 100%;
  height: 320px;
}

/* 결제페이지 옵션 */
.optionBullet > span {
  position: relative;
  padding-left: 15px;
}
.optionBullet > span::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 3.5px;
  height: 3.5px;
  background: #bbb;
  display: block;
}

/* 페이지네이션 스타일 */
.pagingView {
  font-size: 16px;
  color: #aaa;
  transition: all 0.3s;
}
.pagingView.on,
.pagingView:hover {
  font-weight: bold;
  color: #111;
}

/* tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  color: white;
  background-color: rgb(105, 105, 105);
  text-align: center;
  padding: 10px 0;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  bottom: 160%;
  left: 50%;
  margin-left: -80px;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* 말풍선 꼬리 추가 */
.tooltip .tooltip-arrow {
  visibility: hidden;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid rgb(105, 105, 105);
  position: absolute;
  bottom: 138%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-arrow {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1366px) {
  .tooltip .tooltip-arrow {
    border-top: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid rgb(105, 105, 105);
    bottom: -72%;
  }

  .tooltip .tooltiptext {
    bottom: -180%;
  }
}
