@media screen and (max-width: 1366px) {
  body {
    grid-template-rows: 100px minmax(calc(100vh - 410px),auto) 310px;
    padding-bottom: 60px;
  }

  /* Header 모바일 */
  header {
    top: calc(100vh - 60px);
    height: 60px;
    font-size: 20px;
  }
  header.mainHd::after {
    opacity: 100%;
  }
  header .gnb {
    padding: 0 1rem;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 2%;
  }
  header .gnb > .navWrap:nth-child(2) {
    min-width: auto;
  }
  header .gnb > .navWrap > ul.mobileView {
    display: flex;
  }
  header .gnb > .navWrap .firstGnb,
  header .gnb > .navWrap .secondGnb {
    display: none;
  }
  header .gnb > .navWrap > ul.firstGnb.mobileView {
    column-gap: 7px;
  }
  header .gnb > .navWrap > ul.mobileView li {
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  header .gnb > .navWrap > ul.mobileView li svg {
    width: 100%;
    height: 100%;
    min-height: 25px;
  }
  header .gnb > .navWrap > ul.mobileView li span {
    font-size: 9px;
    text-align: center;
  }
  header .gnb > .navWrap .secondGnb > li.sitemapBtn {
    display: none;
  }


  .childrenWrap {
    grid-row: 1 / 3;
  }


  /* Footer 모바일 */
  footer {
    padding: 0 5%;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    column-gap:0px;
    grid-row: 3 / 5;
  }
  footer figure {
    left: 50%;
    transform: translateX(-50%);
    max-width: 100px;
  }
  footer > ul {
    row-gap:0%;
    align-items: center;
  }
  footer > ul > li > ul {
    flex-direction: column;
    align-items: center;
  }
  footer .f_github ul li a {
    font-size: 12px;
  }
  footer .f_github ul li:after {
    content: '';
    padding-left: 0px;
  }
  footer .f_skill {
    display: none;
  }
  /* footer .f_skill ul {
    column-gap: 14px;
  }
  footer .f_skill ul li {
    display:flex;
    column-gap:3px;
  }
  footer .f_skill ul li:before {
    content:'#';
  }
  
  footer h4 {
    font: 100 18px/1 'Hyundai Sans Head Office';
    margin-bottom: 8px;
    text-align: center;
  }
  footer .footerInfo {
    font: 100 12px/1 'Hyundai Sans Head Office';
  }
  */
  footer h4 {
    display: none;
  }
  footer .f_copy span {
    font: 100 10px/1 'Hyundai Sans Head Office';
    text-align: center;
    margin-top: -30px;
  } 
  footer aside {
    text-align: center;
    
  }
  footer aside button {
    background: #232323;
    padding: 1% 10%;
    max-width: 200px;
  }
  
  
}
