@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");
@import url("./basic.css");
@import url("./basic_mediaQuery.css");
@import url("./basic_mediaQuery_950.css");


@layer components {
  .cs-active {
    @apply font-bold;
  }
}

img {
    object-fit: cover;
}