@keyframes TwinkLoading {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.skeletonUI {
  position: relative;
  overflow: hidden;
}
.skeletonUI::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 800px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(221, 221, 221, 1) 0%,
    rgba(239, 239, 239, 1) 25%,
    rgba(221, 221, 221, 1) 50%,
    rgba(239, 239, 239, 1) 75%,
    rgba(221, 221, 221, 1) 100%
  );
  animation: TwinkLoading 0.8s infinite linear;
}
